UserAPI/obj/Debug/net8.0/UserAPI.AssemblyInfo.cs
UserAPI/obj/Debug/net8.0/UserAPI.AssemblyInfo.cs
UserAPI/obj/Debug/net8.0/UserAPI.AssemblyInfoInputs.cache
UserAPI/obj/Debug/net8.0/UserAPI.assets.cache
UserAPI/obj/Debug/net8.0/UserAPI.GeneratedMSBuildEditorConfig.editorconfig
/vue-desktop/node_modules
/UserAPI/bin
/UserAPI/obj
/.idea/.idea.UserAPI
./chat-model/emotion_model
./chat-model/models

/chat-model/emotion_model
/chat-model/models
